<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,259},{62,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{84,93}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,88},{84,91}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{84,91}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,88},{84,91}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{84,91}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{84,93}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{88,93}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,78},{88,91}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,91}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,78},{88,91}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,91}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{90,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{90,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,77},{86,97}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,259},{62,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,77},{86,97}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{74,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{74,93}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{80,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{80,87}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,176},{86,81}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{86,81}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,174},{86,83}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{86,83}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,332},{84,83}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,83}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,419},{84,83}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,83}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,332},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{82,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,419},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{82,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,332},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{82,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,419},{64,85}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{64,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{82,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{82,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,246},{84,85}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,247},{86,79}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{86,79}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{86,77}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{86,77}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{98,73}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{98,73}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,77}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,419},{64,85}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{64,85}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,168},{76,87}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,168},{76,87}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,165},{80,87}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,87}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,165},{80,87}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,87}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>bat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,94},{80,89}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e995904338a3f678792589de37fd59:1/1$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
