<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gray_bottle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,704},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,704},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,704},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,881},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,796},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,711},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,633},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,626},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,626},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,626},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,158},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,626},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,158},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,158},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,80},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,80},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,80},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,80},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>gray_bottle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,555},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,548},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,548},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,548},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,548},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,477},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,470},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,470},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,470},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,470},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,399},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,392},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,392},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,392},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,392},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,321},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,314},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,314},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,314},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,314},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,236},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,236},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,236},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,236},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>red_bottle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,236},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bottle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d58178a73bd74e8a066faf88359327b9:1/1$</string>
            <key>textureFileName</key>
            <string>bottle.png</string>
        </dict>
    </dict>
</plist>
