<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_down_direction_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,462},{64,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{86,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,76},{84,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,76},{84,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,166},{82,86}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,166},{82,86}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{80,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{80,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,462},{64,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,76},{62,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,232},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,232},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,76},{62,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,250},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,250},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,78},{86,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,234},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,234},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,162},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,162},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,154},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,154},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,78},{86,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,312},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,250},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,250},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,76},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,76},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,150},{82,86}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,310},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,162},{76,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,150},{82,86}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{86,86}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{72,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{72,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,76},{72,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{72,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,482},{72,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,408},{66,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{66,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{74,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{74,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,406},{74,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{74,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{72,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{72,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,468},{72,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,396},{72,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,388},{72,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,320},{66,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,232},{66,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{74,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>role_down_direction_still_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{72,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_down_direction.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42f5e148ca2e0384648f302fdaea579d:1/1$</string>
            <key>textureFileName</key>
            <string>role_down_direction.png</string>
        </dict>
    </dict>
</plist>
