<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_up_direction_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,809},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,922},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,585},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,238},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,238},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,809},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,797},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,470},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,797},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,470},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,238},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,691},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,691},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,910},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,910},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,583},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,583},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,238},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,470},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,238},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,804},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,470},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,238},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,355},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,698},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,917},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,583},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,470},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,353},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,797},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,696},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,355},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,355},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,691},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,585},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,910},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,917},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,470},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,470},{116,111}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,353},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,238},{122,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{122,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,696},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,696},{114,111}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,355},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,355},{118,113}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,585},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,123},{124,113}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,585},{104,115}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_move_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,809},{106,109}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,109}}</string>
                <key>sourceSize</key>
                <string>{138,119}</string>
            </dict>
            <key>role_up_direction_still_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{93,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,890},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,793},{95,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,793},{95,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1101},{83,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1101},{83,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1025},{97,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1025},{97,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,979},{93,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,979},{93,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1066},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{93,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1066},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1018},{83,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1018},{83,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,922},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,922},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1025},{93,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1025},{93,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1018},{95,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1018},{95,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,696},{95,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,696},{95,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1108},{81,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1108},{81,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1011},{97,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1011},{97,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>role_up_direction_still_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,890},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_up_direction.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d2699873a2acf95f17e670fa9bb1be:1/1$</string>
            <key>textureFileName</key>
            <string>role_up_direction.png</string>
        </dict>
    </dict>
</plist>
