<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_cup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,494},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,496},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,494},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,413},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,413},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,413},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,415},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,413},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,332},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,332},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,332},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,334},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,332},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,251},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,251},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,251},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blue_cup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,251},{81,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,251},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>gray_cup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cup.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3bbdee676f4c0ab3fea4c2926f5fd8e:1/1$</string>
            <key>textureFileName</key>
            <string>cup.png</string>
        </dict>
    </dict>
</plist>
