<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,70},{12,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{12,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{34,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>10q.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,68},{34,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,170},{32,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{32,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>11q.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,206},{32,32}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{32,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{34,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>12q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{34,32}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{34,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>13q.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,103},{34,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{34,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>14q.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,71},{34,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,137},{34,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>15q.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{34,32}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,105},{34,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>16q.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{34,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,104},{34,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>17q.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,36},{34,32}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,102},{34,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>18q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{34,32}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,36},{34,33}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{34,33}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>19q.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,69},{34,32}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{34,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>1q.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,36},{12,32}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{12,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,203},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,35},{40,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{40,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>20q.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{40,32}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{40,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,36},{36,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{36,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>21q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{38,32}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{38,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,35},{40,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>22q.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,32}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{40,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>23q.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,32}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{40,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>24q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,32}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{40,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>2q.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,204},{20,32}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{20,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,135},{20,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>3q.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,138},{20,30}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{20,30}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,170},{20,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{20,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,204},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>5q.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,204},{20,32}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{20,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,137},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>6q.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,170},{20,32}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{20,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,137},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{20,31}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>7q.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,204},{20,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{20,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,236},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{18,29}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>8q.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{18,30}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{18,30}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,171},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{18,33}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>9q.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{18,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{18,32}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_number.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8f54e4976cc8ea5f3b4e804862bc3d8:1/1$</string>
            <key>textureFileName</key>
            <string>level_number.png</string>
        </dict>
    </dict>
</plist>
