<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sea_monster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,273},{51,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{53,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{53,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{53,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,373},{53,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{53,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,373},{53,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,112},{53,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,108},{53,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{53,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,108},{53,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,269},{51,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,57},{53,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{51,54}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,269},{51,54}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,220},{51,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{51,52}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{51,52}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{51,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{51,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{49,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,322},{49,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{49,54}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,216},{51,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,322},{49,54}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,57},{49,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,57},{49,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,167},{51,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,163},{51,54}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{51,54}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{51,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,163},{51,54}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{51,54}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>sea_monster_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sea_monster.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d00a3bb58be21b9073dd1e9e57e0d4:1/1$</string>
            <key>textureFileName</key>
            <string>sea_monster.png</string>
        </dict>
    </dict>
</plist>
