<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winter_torch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,84},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,84},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{18,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>winter_torch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winter_torch.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0040511cbf879c6020526f8a1cdd3f:1/1$</string>
            <key>textureFileName</key>
            <string>winter_torch.png</string>
        </dict>
    </dict>
</plist>
