<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,683},{230,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,401}}</string>
                <key>sourceSize</key>
                <string>{230,401}</string>
            </dict>
            <key>skeleton_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{222,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,404}}</string>
                <key>sourceSize</key>
                <string>{222,404}</string>
            </dict>
            <key>skeleton_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,404}}</string>
                <key>sourceSize</key>
                <string>{221,404}</string>
            </dict>
            <key>skeleton_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{222,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,404}}</string>
                <key>sourceSize</key>
                <string>{222,404}</string>
            </dict>
            <key>skeleton_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{223,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,404}}</string>
                <key>sourceSize</key>
                <string>{223,404}</string>
            </dict>
            <key>skeleton_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,226},{224,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,404}}</string>
                <key>sourceSize</key>
                <string>{224,404}</string>
            </dict>
            <key>skeleton_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{225,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,404}}</string>
                <key>sourceSize</key>
                <string>{225,404}</string>
            </dict>
            <key>skeleton_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,227},{225,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,403}}</string>
                <key>sourceSize</key>
                <string>{225,403}</string>
            </dict>
            <key>skeleton_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,452},{226,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,403}}</string>
                <key>sourceSize</key>
                <string>{226,403}</string>
            </dict>
            <key>skeleton_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,454},{227,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,403}}</string>
                <key>sourceSize</key>
                <string>{227,403}</string>
            </dict>
            <key>skeleton_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,680},{228,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,402}}</string>
                <key>sourceSize</key>
                <string>{228,402}</string>
            </dict>
            <key>skeleton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,683},{229,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,402}}</string>
                <key>sourceSize</key>
                <string>{229,402}</string>
            </dict>
            <key>skeleton_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,682},{229,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,402}}</string>
                <key>sourceSize</key>
                <string>{229,402}</string>
            </dict>
            <key>skeleton_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,683},{230,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,401}}</string>
                <key>sourceSize</key>
                <string>{230,401}</string>
            </dict>
            <key>skeleton_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{228,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,402}}</string>
                <key>sourceSize</key>
                <string>{228,402}</string>
            </dict>
            <key>skeleton_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,454},{227,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,402}}</string>
                <key>sourceSize</key>
                <string>{227,402}</string>
            </dict>
            <key>skeleton_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,453},{227,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,403}}</string>
                <key>sourceSize</key>
                <string>{227,403}</string>
            </dict>
            <key>skeleton_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,227},{225,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,403}}</string>
                <key>sourceSize</key>
                <string>{225,403}</string>
            </dict>
            <key>skeleton_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,226},{225,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,404}}</string>
                <key>sourceSize</key>
                <string>{225,404}</string>
            </dict>
            <key>skeleton_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{223,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,404}}</string>
                <key>sourceSize</key>
                <string>{223,404}</string>
            </dict>
            <key>skeleton_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{223,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,404}}</string>
                <key>sourceSize</key>
                <string>{223,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94637cca272343f226a008d320b1e872:1/1$</string>
            <key>textureFileName</key>
            <string>skeleton.png</string>
        </dict>
    </dict>
</plist>
