<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{116,202}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{116,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,208},{112,204}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,414},{110,204}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{110,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,620},{112,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,414},{112,204}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{112,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,410},{112,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{112,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,206},{112,202}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{112,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{114,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{114,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,614},{114,202}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{116,202}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{116,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,410},{114,202}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,206},{114,202}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{114,202}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,620},{114,202}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,826},{114,202}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{114,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{114,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{112,202}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{112,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,818},{112,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{112,202}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
            <key>skeleton_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{112,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{112,204}}</string>
                <key>sourceSize</key>
                <string>{138,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ccbd30796d1e7a7ca6f2bf6530c588:1/1$</string>
            <key>textureFileName</key>
            <string>skeleton.png</string>
        </dict>
    </dict>
</plist>
