<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>torch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{70,162}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{70,162}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,172},{72,168}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{72,168}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{72,168}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{72,168}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{72,168}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{72,168}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{72,170}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{72,170}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,170}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{72,170}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,366},{70,158}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{70,158}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,314},{70,158}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{70,158}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,222},{70,162}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{70,162}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,150},{70,162}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{70,162}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{70,162}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{70,162}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,76},{72,164}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{72,164}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{72,164}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{72,164}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{72,166}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{72,166}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,342},{72,166}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{72,166}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>torch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,168}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{72,168}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>torch.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ac3833a42a293519e7fadea646ad5f7:1/1$</string>
            <key>textureFileName</key>
            <string>torch.png</string>
        </dict>
    </dict>
</plist>
